body{
    font-family: poppins;
    margin-left: auto;
    margin-right: auto;
    width: 1366px;
    height: 5652px;
}
#header{
    height: 768px;
    background-image: url(./file/back2.png);
    background-repeat: no-repeat;
    overflow: auto;
}
.header-menu{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 175px 913px 50px 190px;
    align-items: center;
}
.logo{
    margin-inline-start: 20px;
}
.menu-info{
    display: grid;
    grid-template-columns: 80px 80px 110px 120px 80px 80px;
    list-style: none;
    margin-inline-start: 320px;
}
.menu-info li a {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}
.menu-info li a:hover{
    color: red;
}
.icon-search::before{
    font-family: FontAwesome;
    content: "\f002";
    color: white;
    font-style: normal;
}
.transit{
    width: 190px;
    height: 63px;
    background-color: transparent;
}
.transit a {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}
.transit a:hover {
    color: red;
}
.transit a::after {
    font-family: FontAwesome;
    content: "\f061";
    color: white;
    font-style: normal;
}
.header-slogan{
    width: 550px;
    margin-top: 20px;
    margin-left: 488px;
}
.slogan{
    font-family: poppins;
    font-size: 20px;
    color: #d596ba;
}
.slogan-name{
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Oswald;
    text-transform: uppercase;
    font-size: 60px;
    color: white
}
.slogan-text{
    font-family: poppins;
    font-size: 11px;
    color: #97155b
}
.slogan-transit{
    width: 190px;
    height: 63px;
    margin-top: 30px;
    background-color: red;
    transition: 1s;
}
.slogan-transit a {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}
.slogan-transit:hover {
    background-color: transparent;
}
.slogan-transit a::after {
    font-family: FontAwesome;
    content: "\f061";
    color: white;
    font-style: normal;
    font-weight: normal;
}
.section-services{
    height: 552px;
}
.block-services{
    position: absolute;
    margin-top: -45px;
    margin-left: 138px;
    display: grid;
    grid-template-columns: 328px 328px 328px;
    grid-gap: 25px;
}
.windows-services{
    height: 540px;
    background-color: white;
    overflow: hidden;
}
.windows-services h1{
    font-family: 'Oswald';
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 25px;
    padding-left: 22px;
}
.windows-services h1:after{
    content: "";
    display: block;
    width: 35px;
    padding-top: 3px;
    border-bottom: 3px solid red;
}
.windows-services p{
    font-size: 15px;
    width: 325px;
    padding-left: 22px;
    color: darkgrey;
}