body{
    font-family: poppins;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 1920px;
    height: 5652px;
}
#header{
    height: 875px;
    background-image: url(./file/back1.png);
    background-repeat: no-repeat;
}
.header-menu{
    padding-top: 50px;
    display: grid;
    grid-template-columns: 204px 1335px 70px 311px;
    align-items: center;
}
.logo{
    padding-left: 100px;
}
.menu-info{
    margin: 0px;
    text-align: right;
}
.menu-info li{
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Oswald';
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}
.menu-info li a{
    text-decoration: none;
    color: white;
}
.menu-info li a:hover{
    color: red;
}
.i-search,
.list-search{
    text-align: center;
}
.icon-search::before{
    font-family: FontAwesome;
    content: "\f002";
    color: white;
    font-style: normal;
}
.transit{
    width: 190px;
    height: 63px;
    background-color: transparent;
}
.transit a {
    font-family: 'Oswald';
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}
.transit a:hover {
    color: red;
}
.transit a::after {
    font-family: FontAwesome;
    content: "\f061";
    color: white;
    font-style: normal;
}
.header-slogan{
    width: 550px;
    margin-top: 100px;
    margin-left: 355px;
}
.slogan{
    font-family: poppins;
    font-size: 20px;
    color: white;
}
.slogan-name{
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Oswald;
    text-transform: uppercase;
    font-size: 60px;
    color: white
}
.slogan-text{
    font-family: poppins;
    font-size: 11px;
    color: white
}
.slogan-transit{
    width: 190px;
    height: 63px;
    margin-top: 30px;
    background-color: red;
    transition: 1s;
}
.slogan-transit a {
    font-family: 'Oswald';
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}
.slogan-transit:hover {
    background-color: transparent;
}
.slogan-transit a::after {
    font-family: FontAwesome;
    content: "\f061";
    color: white;
    font-style: normal;
    font-weight: normal;
}
.section-services{
    height: 552px;
    background-image: url(./file/bg-service-row.jpg);
    background-repeat: no-repeat;
}
.block-services{
    position: absolute;
    margin-top: -45px;
    margin-left: 350px;
    display: grid;
    grid-template-columns: 368px 368px 368px;
    grid-gap: 25px;
}
.windows-services{
    height: 540px;
    background-color: white;
    overflow: hidden;
}
.windows-services h1{
    font-family: 'Oswald';
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 25px;
    padding-left: 22px;
}
.windows-services h1:after{
    content: "";
    display: block;
    width: 35px;
    padding-top: 3px;
    border-bottom: 3px solid red;
}
.windows-services p{
    font-size: 17px;
    width: 330px;
    padding-left: 22px;
    color: darkgrey;
}
.footer-services{
    padding-top: 511px;
    padding-left: 355px;
}
.footer-services p{
    display: inline;
    color: darkgray;
}
.footer-services p>b{
    color: black;
}
.footer-services a{
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    padding-left: 548px;
}
.footer-services a::after {
    font-family: FontAwesome;
    content: "\f061";
    color: red;
    font-style: normal;
    font-weight: normal;
}
.info-about p{
    font-size: 30px;
    text-align: center;
    width: 1488px;
    margin-left: 231px;
    color: darkgrey;
}
.info-about:after{
    content: "";
    display: block;
    width: 174px;
    border-bottom: 3px solid red;
    margin-left: 892px;
}
.menu-about{
    margin-top: 50px;
    margin-bottom: 50px;
    height: 570px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 40% 10%;
}
.menu-about img:nth-child(5){
    grid-column: 3/4;
    grid-row: 1/5;
}
.menu-about img:nth-child(6){
    grid-column: 4/5;
    grid-row: 1/5;
}
.menu-about h1{
    font-family: 'Oswald';
    grid-column: 1/3;
    grid-row: 1/2;
    text-transform: uppercase;
    padding-left: 70px;
}
.menu-about ul{
    grid-column: 1/3;
    grid-row: 2/3;
    justify-items:center;
    border-bottom: 2px solid darkgray;
    width: 800px;
    margin-left: 70px;
    padding-left: 0px;
}
.menu-about p:nth-child(3){
    grid-column: 1/3;
    grid-row: 3/4;
    padding-left: 70px;
    width: 800px;
    color: darkgrey;
}
.menu-about p:nth-child(4){
    grid-column: 1/3;
    grid-row: 4/5;
    text-transform: uppercase;
    padding-left: 70px;
}
.menu-about li{
    display: inline;
    text-decoration: none;
    padding-right: 155px;
    text-transform: uppercase;
    color: darkgrey;
}
.menu-about li>a{
    color: darkgrey;
}
.menu-about li>a:hover{
    color: red;
}
.menu-about a{
    text-decoration: none;
    color: black;
}
.menu-about p:nth-child(4)::after{
    font-family: FontAwesome;
    content: "   \f061";
    color: red;
    font-style: normal;
    font-weight: normal;
}
.menu-about p>a:hover{
    color: red;
}
.section-video{
    height: 925px;
}
.section-video img:nth-child(1){
    filter: contrast(15%);
    overflow: hidden;
    height: 614px;
    width: 1920px;
}
.section-video img:nth-child(3){
    position: relative;
    width: 1352px;
    height: 614px;
    margin-top: -389px;
    margin-left: 247px;
}
.video-back{
    position: absolute;
    margin-top: -583px;
    margin-left: 700px;
    text-align: center;
    color: white;
}
.video-back h3{
    text-transform: uppercase;
    font-family: 'Oswald';
    font-weight: normal;
    font-size: 30px;
}
.video-back h3::after{
    content: "";
    display: block;
    width: 174px;
    border-bottom: 3px solid red;
    margin-left: 145px;
    margin-top: 10px;
}
.video-back p:nth-child(1){
    font-size: 18px;
}
.section-choose{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
}
.section-choose img:nth-child(1){
    grid-column: 1/2;
    grid-row: 1/5;
}
.section-choose img:nth-child(2){
    grid-column: 2/3;
    grid-row: 1/5;
}
.section-choose h1{
    font-family: 'Oswald';
    text-transform: uppercase;
    grid-column: 3/5;
    grid-row: 1/2;
}
.section-choose p{
    grid-column: 3/5;
    grid-row: 2/3;
    color: darkgrey;
    font-size: 20px;
}
.section-choose p::after{
    content: "";
    display: block;
    width: 174px;
    border-bottom: 3px solid red;
    margin-top: 25px;
}
.section-choose ul:nth-child(5){
    grid-column: 3/4;
    grid-row: 3/4;
}
.section-choose ul:nth-child(10){
    grid-column: 4/5;
    grid-row: 3/4;
}
.section-choose li>a{
    font-size: 20px;
    text-decoration: none;
    color: black;
}
.section-choose ul{
    list-style-type: none;
}
.section-choose li::before{
    font-family: FontAwesome;
    content: "\f105      ";
    color: red;
    font-style: normal;
    font-weight: bold;
}
.section-choose button{
    grid-column: 3/5;
    grid-row: 4/5;
}
.slogan-choose{
    width: 190px;
    height: 63px;
    margin-top: 30px;
    background-color: red;
    transition: 1s;
}
.slogan-choose a {
    font-family: 'Oswald';
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}
.slogan-choose:hover {
    background-color: transparent;
}
.slogan-choose a:hover{
    color: red;
}
.slogan-choose a::after {
    font-family: FontAwesome;
    content: "\f061";
    color: white;
    font-style: normal;
    font-weight: normal;
}
.section-faqs{
    margin-top: 70px;
    background-color: #eeeeee ;
    display: table;
}
.section-faqs h1{
    font-family: 'Oswald';
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    margin: 100px;
}
.section-faqs-left ul{
    margin-left: 100px;
    list-style-type: none;
}
.section-faqs-left li{
    text-align: left;
    padding: 50px;
}
.section-faqs-left li::before{
    content: "+";
    margin-right: 20px;
}
.section-faqs-left li>a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.section-faqs-left li>a:hover{
    color: red;
}
.section-members b{
    font-weight: normal;
    text-transform: uppercase;
    color: red;
    font-size: 20px;
}
.section-faqs-left,
.section-faqs-right{
    width: 50%;
    display: table-cell;
}
.section-members img{
    margin: -10px 75px 0px 100px;
    float: left;
}
.members-up,
.members-down{
    height: 300px;
}
.members-up p:nth-child(2),
.members-down p:nth-child(2){
    margin-left: 100px;
    width: 62%;
    margin-top: 40px;
    font-size: 20px;
    color: darkgray;
}
.members-up p:nth-child(1),
.members-down p:nth-child(1){
    font-size: 18px;
    color: darkgray;
}
.footer-theme{
    background-color: red;
    color: white;
    display: grid;
    align-items:center;
    justify-items:center;
} 
.footer-theme p{
    grid-column: 1/2;
    grid-row: 2/3;
    margin-top: 5px;
}
.footer-theme h1{
    font-family: 'Oswald';
    text-transform: uppercase;
    grid-column: 1/2;
    grid-row: 1/2;
    margin-bottom: 5px;
}
.footer-purchase{
    grid-column: 2/3;
    grid-row: 1/3;
    width: 390px;
    height: 63px;
    background-color: #242633;
    transition: 1s;
}
.footer-purchase a {
    font-family: 'Oswald';
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}
.footer-purchase:hover {
    background-color: transparent;
}
.footer-purchase a:hover{
    color: #242633;
}
.footer-purchase a::after {
    font-family: FontAwesome;
    content: "\f061";
    color: white;
    font-style: normal;
    font-weight: normal;
}
footer{
    background-color: #242633;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}
footer ul{
    list-style-type: none;
    padding: 0px;
}
.contact-company {
    grid-column: 1/4;
    margin: 50px 0px 50px 450px;
}
.contact-company p{
    display: inline;
    padding-left: 50px;
    padding-right: 50px;
    color: darkgray;
}
.date-post{
    color: darkgray;
}
.facebook a::after{
    font-family: FontAwesome;
    content: "\f09a";
    color: white;
    font-style: normal;
    font-weight: normal;
}
.twiter a::after{
    font-family: FontAwesome;
    content: "\f099";
    color: white;
    font-style: normal;
    font-weight: normal;
}
.google a::after{
    font-family: FontAwesome;
    content: "\f1a0";
    color: white;
    font-style: normal;
    font-weight: normal;
}
.pinterest a::after{
    font-family: FontAwesome;
    content: "\f231";
    color: white;
    font-style: normal;
    font-weight: normal;
}
.instagramm a::after{
    font-family: FontAwesome;
    content: "\f16d";
    color: white;
    font-style: normal;
    font-weight: normal;
}
.socialnet a{
    display: block;
    float: left;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    text-decoration: none;
    border-radius: 50%;
    background-color: darkgrey;
    text-align: center;
}
.socialnet a:hover{
    background-color: red;
}
.socialnet{
    padding-top: 50px;
}
.contact-company{
    border-top: 2px solid darkgray;
    width: 1036px;
    padding-top: 50px;
    margin-bottom: 50px;
}
.adress::before{
    font-family: FontAwesome;
    content: "\f124";
    color: red;
    margin-right: 15px;
    font-style: normal;
    font-weight: normal;
}
.phone::before{
    font-family: FontAwesome;
    content: "\f095";
    color: red;
    margin-right: 15px;
    font-style: normal;
    font-weight: normal;
}
.mail::before{
    font-family: FontAwesome;
    content: "\f003";
    color: red;
    margin-right: 15px;
    font-style: normal;
    font-weight: normal;
}
.footer-copy{
    background-color: #191B28;
    text-align: center;
    color: darkgray;
}
.footer-copy p{
    margin: 0px;
    padding: 15px 0px 15px 0px;
}
.footer-copy a,
.info-company a,
.text-post{
    color: white;
    text-decoration: none;
}
.footer-copy a:hover,
.info-company a:hover{
    color: red;
}
.info-company{
    float: left;
}
.info-company li{
    padding: 0px 80px 25px 0px;
}
.text-post{
    padding-top: 15px;
}
.company-style,
.foot-logo-style,
.posts-style{
    width: 425px;
    margin-top: 90px;
    margin-left: 100px;
}
.company h3,
.posts h3{
    color: white;
    text-transform: uppercase;
}
.company h3::after{
    content: "";
    display: block; 
    width: 100px;
    padding-top: 3px;
    border-bottom: 2px solid red;
}
.posts h3::after{
    content: "";
    display: block; 
    width: 130px;
    padding-top: 3px;
    border-bottom: 2px solid red;
}
.foot-logo-style p{
    color: darkgray;
    padding-top: 50px;
}